:root { 
--purple_100:#ffabff; 
--blue_gray_50:#ececf1; 
--gray_900_99:#20212399; 
--deep_purple_500:#5536da; 
--blue_A200:#4b85dd; 
--red_400:#dd524c; 
--blue_gray_900_4c:#3333334c; 
--teal_200:#8dcdb8; 
--yellow_300:#fae673; 
--red_400_19:#dd524c19; 
--teal_500_19:#0fa47f19; 
--teal_600:#00897b; 
--teal_500:#0fa47f; 
--black_900:#000000; 
--black_900_07:#00000007; 
--blue_gray_800:#444654; 
--blue_gray_900_02:#333333; 
--light_blue_A700:#007aff; 
--blue_gray_900_01:#343541; 
--yellow_300_19:#fae67319; 
--blue_gray_700:#535457; 
--blue_gray_900:#2b2c2f; 
--gray_400:#c5c5d1; 
--gray_500:#9a9b9f; 
--gray_900:#202123; 
--gray_900_01:#182317; 
--deep_purple_500_19:#5536da19; 
--gray_400_01:#aeaeb4; 
--red_A400_87:#ff2d5587; 
--blue_A200_33:#4c86dd33; 
--white_A700:#ffffff; 
}